<<<<<<< HEAD
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #111;
  padding: 30px 0;
  color: #fff;
  
  .copyright {
    text-align: center;
  }
  
  .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;

  }

=======
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #111;
  padding: 30px 0;
  color: #fff;
  
  .copyright {
    text-align: center;
  }
  
  .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;

  }

>>>>>>> 22aaa659e6b5bb88041c22788787d1675041afff
}