<<<<<<< HEAD
/// Default color variables

$accent-color: #03C4EB;
$heading-color: #333333;
$text-color: #666666;

/// Fonts Variables
$accent-font: 'Raleway', sans-serif;
$heading-font: 'Raleway', sans-serif;
=======
/// Default color variables

$accent-color: #03C4EB;
$heading-color: #333333;
$text-color: #666666;

/// Fonts Variables
$accent-font: 'Raleway', sans-serif;
$heading-font: 'Raleway', sans-serif;
>>>>>>> 22aaa659e6b5bb88041c22788787d1675041afff
$text-font: 'Open Sans', sans-serif;